/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0 auto;
}

div.banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

div.banner header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

div.banner header .contenu {
  background: #DB8876;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-right: 120px;
}

div.banner header div.top-line {
  display: flex;
  align-items: center;
}

div.banner header div.top-line a .logo img {
  width: 250px;
}

div.banner header div.top-line nav {
  display: flex;
}

div.banner header div.top-line nav ul {
  display: flex;
  justify-content: space-between;
}

div.banner header div.top-line nav ul li {
  list-style: none;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px 2px;
  padding: 4px 7px;
  font-size: 0.7rem;
}

div.banner header div.top-line .header {
  color: #901C1C;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.title {
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

div.title h1 {
  margin-bottom: 8px;
  font-size: 1.8rem;
  color: #901C1C;
}

div.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: #c1f573;
}

div.main div.user {
  text-align: center;
}

div.main div.user div.circle {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
}

div.main div.user div.circle .crop {
  height: 200px;
  width: 200px;
  background: transparent;
  border-radius: 50%;
  margin: 40px auto;
  overflow: hidden;
}

div.main div.user div.circle div {
  margin-top: 40px;
}

div.main div.user div.circle img {
  position: relative;
  bottom: 35px;
}

div.main div.user img {
  width: 200px;
}
