/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: initial;
}

@media only screen and (max-width: 767px) {
  .banner {
    width: 335px;
    margin: 0 auto;
  }
  .banner header .contenu {
    background: #DB8876;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
  }
  .banner header .top-line #logo {
    grid-area: logo;
    width: 50%;
  }
  .banner header .top-line #logo .logo img {
    width: 200px;
  }
  .banner header .photographer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner header .photographer .info .name {
    font-size: 3.6rem;
  }
  .banner header .photographer .info .city {
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
  .banner header .photographer .info .tagline {
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
  .banner header .photographer .info .tags {
    margin-top: 5px;
    position: relative;
    right: 6px;
  }
  .banner header .photographer .info .tags li a {
    font-size: 1.3rem;
  }
  .banner header .photographer .info .tags li:last-child {
    display: none;
  }
  .sort-by {
    display: none;
  }
  main .sticky-cta {
    display: none;
  }
  main #photos-section {
    margin-top: 30px;
  }
  main #photos-section div {
    margin: 0 auto;
  }
  main #photos-section div .thumb-img {
    width: 335px;
    height: 190px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
  }
  main #photos-section div .thumb-info {
    display: flex;
  }
  main #photos-section div .thumb-info p {
    font-size: 1.4rem;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 89%;
  }
  main #photos-section div .thumb-info div.thumb-likes {
    display: flex;
  }
  main #photos-section div .thumb-info div.thumb-likes .heart {
    margin-left: 5px;
    position: relative;
    top: -1px;
  }
  div.banner header div.top-line a#logo .logo img {
    width: 150px;
  }
  div.banner header div.top-line nav#nav {
    margin-top: 20px;
  }
  div.banner header div.top-line nav#nav ul {
    width: calc(211% + -1px);
    justify-content: space-between;
    padding: 0;
    text-align: center;
  }
  div.banner header div.top-line nav#nav ul li {
    list-style: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin: 3px;
    padding: 4px 6px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  div.banner header div.top-line nav#nav ul li a {
    color: #901C1C;
  }
  div.banner header div.top-line div.title#title h1 {
    font-size: 1.4rem;
    line-height: 18px;
    font-weight: 400;
    width: 119px;
  }
  div.banner header div.top-line .header {
    color: #901C1C;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  div.circle {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  div.circle .crop {
    height: 131px;
    width: 131px;
    background: transparent;
    border-radius: 50%;
    margin: 40px auto 20px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #e8e6e8;
  }
  div.circle .crop img {
    height: 131px;
    width: 131px;
  }
  div.circle div {
    margin-top: 40px;
  }
  div.circle img {
    position: relative;
    bottom: 0px;
  }
  div.title#title {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    grid-area: title;
  }
  div.title#title h1 {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #901C1C;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
  }
  main div.user {
    text-align: center;
  }
  main div.user div.circle {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  main div.user div.circle .crop {
    height: 131px;
    width: 131px;
    background: transparent;
    border-radius: 50%;
    margin: 40px auto 20px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #e8e6e8;
  }
  main div.user div.circle div {
    margin-top: 40px;
  }
  main div.user div.circle img {
    position: relative;
    bottom: 0px;
  }
  main div.user img {
    width: 131px;
    height: 131px;
    object-fit: cover;
  }
  main div.user .name {
    color: #D3573C;
    font-size: 3.6rem;
    margin-bottom: 5px;
  }
  main div.user .city {
    color: #901C1C;
    margin-bottom: 5px;
    font-size: 1.3rem;
  }
  main div.user .tagline {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  main div.user .price {
    color: #525252;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  main div.user ul.tags {
    display: inline-flex;
  }
  main div.user ul.tags li {
    margin: 0 5px;
    font-size: 1.2rem;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 2px 4px;
    color: #901C1C;
    font-weight: bold;
  }
  main div.user ul.tags li a {
    color: #901C1C;
  }
  div.photographer div.info .name {
    width: 202px;
    font-size: 3.6rem;
    color: #D3573C;
  }
  div.photographer div.info .city {
    width: 138px;
    color: #901C1C;
    font-size: 1.3rem;
  }
  div.photographer div.info .tagline {
    color: #525252;
    font-size: 1.3rem;
  }
  div.photographer div.info ul.tags {
    display: flex;
    display: inline-flex;
  }
  div.photographer div.info ul.tags li {
    margin: 0 5px;
    font-size: 0.8rem;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 2px 4px;
    color: #901C1C;
    font-weight: bold;
  }
  div.photographer div.info ul.tags li a {
    color: #901C1C;
  }
  div.photographer div div.contact {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    background: #901C1C;
    color: #fff;
    width: 133px;
    font-size: 1.8rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5% auto;
    /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
  }
  div#photos-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  body.div.banner {
    display: grid;
  }
  body div.banner header div.top-line {
    margin-top: 40px;
    display: grid;
    grid-template-areas: "logo title" "nav .";
    grid-template-columns: 1fr 1fr;
  }
  body main {
    display: block;
  }
  body .banner header div.top-line nav ul li {
    display: inline-block;
  }
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: white;
    background-color: white;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    display: flex;
    height: 100vh;
    padding: 20px;
  }
  .modal-content div.lightBox {
    width: 335px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }
  .modal-content div.lightBox div.mid {
    display: flex;
    justify-content: space-between;
  }
  .modal-content div.lightBox div.mid img.chevron-left {
    width: 13px;
    cursor: pointer;
  }
  .modal-content div.lightBox div.mid img.big-img {
    width: 289px;
    height: 248px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
  .modal-content div.lightBox div.mid video.big-video {
    width: 289px;
    height: 248px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
  }
  .modal-content div.lightBox div.mid img.chevron-right {
    width: 13px;
    cursor: pointer;
  }
  .modal-content div.lightBox div.bottom p.lightBox {
    font-size: 2.4rem;
    color: #901C1C;
    margin-top: 14px;
    margin-left: 50px;
  }
  /* The Close Button */
  .close {
    color: #901C1C;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    float: right;
    position: relative;
    top: 20px;
    cursor: pointer;
    left: 8px;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* The Modal (background) */
  .modal-contact {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: #DB8876;
  }
  /* Modal Content/Box */
  .modal-content-contact {
    background-color: #DB8876;
    /* 15% from the top and centered */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 100vh;
    width: 338px;
    /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0  17px;
    margin: 0px auto;
  }
  .modal-content-contact div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-content-contact .close-contact img {
    float: right;
  }
  .modal-content-contact .title {
    width: 253px;
    font-size: 3.6rem;
    line-height: 46px;
  }
  .modal-content-contact .name {
    width: 159px;
    font-size: 3.6rem;
    margin-bottom: 20px;
    line-height: 46px;
  }
  .modal-content-contact .contact-form form {
    width: 99%;
  }
  .modal-content-contact .contact-form form label {
    width: 128px;
    height: 47px;
    font-size: 2.4rem;
    color: #525252;
  }
  .modal-content-contact .contact-form form input {
    width: 99%;
    height: 52px;
    border-radius: 5px;
    outline: none;
    margin: 10px 0;
  }
  .modal-content-contact .contact-form form textarea {
    height: 170px;
    width: 99%;
    border-radius: 5px;
    outline: none;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .modal-content-contact .contact-form form div.btn-form {
    background: #901C1C;
    width: 170px;
    height: 35px;
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    line-height: 23.44px;
  }
  /* The Close Button */
  .close-contact {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close-contact img {
    width: 18.67px;
    color: white;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  div.banner header {
    display: flex;
    flex-direction: column;
  }
  div.banner header .contenu {
    background: #DB8876;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    visibility: hidden;
  }
  div.banner header div.top-line {
    align-items: center;
    display: grid;
    grid-template-areas: "logo nav title";
  }
  div.banner header div.top-line a#logo {
    grid-area: logo;
    width: 200px;
  }
  div.banner header div.top-line a#logo .logo img {
    width: 200px;
  }
  div.banner header div.top-line nav#nav {
    display: flex;
    grid-area: nav;
  }
  div.banner header div.top-line nav#nav ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  div.banner header div.top-line nav#nav ul li {
    list-style: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin: 10px 2px 1px;
    padding: 4px 7px;
    font-size: 1.6rem;
    font-weight: bold;
  }
  div.banner header div.top-line nav#nav ul li a {
    color: #901C1C;
  }
  div.banner header div.top-line .header {
    color: #901C1C;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  div.banner header div.photographer {
    background: #FAFAFA;
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
  }
  div.banner header div.photographer div.info {
    text-align: left;
  }
  div.banner header div.photographer div.info .name {
    position: relative;
    right: 5px;
    color: #D3573C;
    font-size: 5rem;
    margin-bottom: 5px;
    font-family: 'DM Sans', sans-serif;
  }
  div.banner header div.photographer div.info .city {
    margin-top: 10px;
    font-size: 2.5rem;
    color: #901C1C;
  }
  div.banner header div.photographer div.info .tagline {
    margin-top: 15px;
    color: #525252;
    font-size: 1.7rem;
  }
  div.banner header div.photographer div.info ul.tags {
    display: inline-flex;
    margin-top: 20px;
  }
  div.banner header div.photographer div.info ul.tags li {
    margin: 0 5px;
    font-size: 1.6rem;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 2px 4px;
    font-weight: bold;
  }
  div.banner header div.photographer div.info ul.tags li a {
    color: #901C1C;
  }
  div.banner header div.photographer div .contact {
    margin-top: 0;
    background: #901C1C;
    color: #fff;
    padding: 20px 10px;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    width: 140px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 10px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
  }
  div.banner header div.photographer div.user div.circle.thumb {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  div.banner header div.photographer div.user div.circle.thumb .crop {
    height: 131px;
    width: 131px;
    background: transparent;
    border-radius: 50%;
    margin: 40px auto 20px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #e8e6e8;
  }
  div.banner header div.photographer div.user div.circle.thumb div {
    margin-top: 40px;
  }
  div.banner header div.photographer div.user div.circle.thumb img {
    position: relative;
    bottom: 0px;
    width: 131px;
    height: 131px;
  }
  div.sort-by {
    height: 23px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    display: flex;
    margin-bottom: 50px;
  }
  div.sort-by p {
    margin-right: 20px;
  }
  div.sort-by div.dropdown-open {
    width: 170px;
    background: #901C1C;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    position: relative;
    bottom: 10px;
  }
  div.sort-by div.dropdown-open ul {
    border-radius: 5px;
    background: #901C1C;
    padding: 10px;
  }
  div.sort-by div.dropdown-open ul li {
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-family: 'DM Sans', sans-serif;
  }
  div.sort-by div.dropdown-open ul li img.chevron {
    width: 1.6rem;
    color: #fff;
    margin-left: 20px;
  }
  div.sort-by div.dropdown-open ul li:last-child {
    border: 0;
  }
  div.title#title {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    grid-area: title;
  }
  div.title#title h1 {
    margin-bottom: 8px;
    font-size: 2.8rem;
    color: #901C1C;
    position: relative;
    top: 8px;
  }
  main div#app {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
  }
  main div#app div.user {
    text-align: center;
  }
  main div#app div.user div.circle {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  main div#app div.user div.circle .crop {
    height: 131px;
    width: 131px;
    background: transparent;
    border-radius: 50%;
    margin: 40px auto 20px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #e8e6e8;
  }
  main div#app div.user div.circle div {
    margin-top: 40px;
  }
  main div#app div.user div.circle img {
    position: relative;
    bottom: 0px;
  }
  main div#app div.user img {
    width: 131px;
    height: 131px;
    object-fit: cover;
  }
  main div#app div.user .name {
    color: #D3573C;
    font-size: 4.5em;
    margin-bottom: 5px;
    font-family: 'DM Sans', sans-serif;
  }
  main div#app div.user .city {
    color: #901C1C;
    margin-bottom: 5px;
    font-size: 2rem;
  }
  main div#app div.user .tagline {
    font-size: 1.7rem;
    margin-bottom: 5px;
  }
  main div#app div.user .price {
    color: #525252;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  main div#app div.user ul.tags {
    display: inline-flex;
  }
  main div#app div.user ul.tags li {
    margin: 0 5px;
    font-size: 1.6rem;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 2px 4px;
    font-weight: bold;
  }
  main div#app div.user ul.tags li a {
    color: #901C1C;
  }
  main div.sticky-cta {
    position: fixed;
    width: 376px;
    height: 69px;
    bottom: 0;
    right: 3.6rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #DB8876;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    cursor: pointer;
  }
  main div.sticky-cta div {
    display: flex;
  }
  main div.sticky-cta p.cta-likes {
    width: 87px;
    height: 31px;
    font-size: 2.4rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  main div.sticky-cta img.cta-heart {
    width: 20px;
    position: relative;
    bottom: 2px;
    margin-left: 5px;
  }
  main div.sticky-cta p.cta-price {
    width: 133px;
    font-size: 2.4rem;
  }
  main div#photos-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 75px;
    column-gap: 114px;
    row-gap: 50px;
  }
  main div#photos-section div {
    justify-content: center;
  }
  main div#photos-section div .thumb-img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
  }
  main div#photos-section div div.thumb-info {
    display: flex;
    width: 350px;
    font-size: 2.4rem;
    margin-top: 5px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }
  main div#photos-section div div.thumb-info p {
    color: #901C1C;
  }
  main div#photos-section div div.thumb-info div {
    display: -webkit-box;
  }
  main div#photos-section div div.thumb-info div div.likes p {
    display: flex;
    width: 22px;
    height: 31px;
    border-radius: 50%;
    align-items: center;
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    line-height: 18.75px;
    background: #fff;
    margin-right: 20px;
  }
  main div#photos-section div div.thumb-info div img.heart {
    width: 20px;
    position: relative;
    top: 6px;
    z-index: -1;
  }
  /* The Modal LightBox(background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: white;
    background-color: white;
  }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
  }
  .modal-content div.lightBox {
    width: 125.3rem;
    height: 98.4rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: column;
  }
  .modal-content div.lightBox div.mid {
    display: flex;
    justify-content: space-between;
  }
  .modal-content div.lightBox div.mid img.chevron-left {
    width: 48px;
    cursor: pointer;
  }
  .modal-content div.lightBox div.mid img.big-img {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
  }
  .modal-content div.lightBox div.mid video.big-video {
    width: 1050px;
    height: 900px;
    border-radius: 5px;
  }
  .modal-content div.lightBox div.mid img.chevron-right {
    width: 48px;
    cursor: pointer;
  }
  .modal-content div.lightBox div.bottom p.lightBox {
    font-size: 2.4rem;
    color: #901C1C;
    margin-top: 14px;
    margin-left: 100px;
  }
  /* The Close Button */
  .close {
    color: #901C1C;
    display: flex;
    justify-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    width: 4.2rem;
    height: 4.2rem;
    float: right;
    position: relative;
    top: 37px;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* The Modal (background) */
  .modal-contact {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  /* Modal Content/Box */
  .modal-content-contact {
    background-color: #DB8876;
    margin: 62px auto;
    /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 90rem;
    width: 66.9rem;
    /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    padding: 35px;
  }
  .modal-content-contact div {
    display: flex;
    justify-content: space-between;
  }
  .modal-content-contact .close-contact img {
    float: right;
  }
  .modal-content-contact .title {
    width: 449px;
    font-size: 6.4rem;
  }
  .modal-content-contact .name {
    width: 282px;
    font-size: 6.4rem;
    margin-bottom: 40px;
  }
  .modal-content-contact .contact-form form {
    width: 99%;
  }
  .modal-content-contact .contact-form form label {
    width: 128px;
    height: 47px;
    font-size: 3.6rem;
    color: #525252;
  }
  .modal-content-contact .contact-form form input {
    width: 99%;
    height: 68px;
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    font-size: 2rem;
  }
  .modal-content-contact .contact-form form textarea {
    height: 170px;
    width: 99%;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .modal-content-contact .contact-form form div.btn-form {
    background: #901C1C;
    width: 170px;
    height: 69px;
    color: white;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
  }
  /* The Close Button */
  .close-contact {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close-contact img {
    width: 42px;
    color: white;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  main div#photos-section, main div#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  div.title#title h1 {
    margin-top: 10px;
  }
  body div.banner header div.top-line {
    margin-top: 40px;
    display: grid;
    grid-template-areas: "logo title" "nav .";
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }
  div.banner header div.top-line nav#nav {
    display: grid;
    grid-area: nav;
    width: 400px;
    margin: 0 auto;
  }
  body div.banner header div.top-line nav#nav ul {
    width: calc(211% + -1px);
    justify-content: space-between;
    padding: 0;
    text-align: center;
    display: inline-block;
  }
  .banner header .top-line #logo {
    grid-area: logo !important;
    width: 50% !important;
    padding-left: 100px;
  }
  body .banner header div.top-line nav ul li {
    display: inline-block;
    list-style: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin: 3px;
    padding: 4px 6px;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

html {
  font-size: 62.5%;
}

.scroll {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1240px;
}
