/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: initial;
}

@media only screen and (max-width: 767px) {
  div.banner header .contenu {
    background: #DB8876;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
  }
  div.banner header div.top-line a#logo {
    grid-area: logo;
    width: 50%;
  }
  div.banner header div.top-line a#logo .logo img {
    width: 200px;
  }
  div.banner header div.top-line nav#nav {
    width: calc(200%);
  }
  div.banner header div.top-line nav#nav ul {
    justify-content: space-between;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  div.banner header div.top-line nav#nav ul li {
    list-style: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin: 10px 10px;
    padding: 4px 6px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  div.banner header div.top-line nav#nav ul li a {
    color: #901C1C;
  }
  div.banner header div.top-line .header {
    color: #901C1C;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  div.title#title {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    grid-area: title;
  }
  div.title#title h1 {
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #901C1C;
  }
  div.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
  }
  div.main div.user {
    text-align: center;
  }
  div.main div.user div.circle {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  div.main div.user div.circle .crop {
    height: 131px;
    width: 131px;
    background: transparent;
    border-radius: 50%;
    margin: 40px auto 20px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #E8E6E8;
  }
  div.main div.user div.circle div {
    margin-top: 40px;
  }
  div.main div.user div.circle img {
    position: relative;
    bottom: 0px;
  }
  div.main div.user img {
    width: 131px;
    height: 131px;
    object-fit: cover;
  }
  div.main div.user .name {
    color: #D3573C;
    font-size: 2.4em;
    margin-bottom: 5px;
  }
  div.main div.user .city {
    color: #901C1C;
    margin-bottom: 5px;
  }
  div.main div.user .tagline {
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
  div.main div.user .price {
    color: #525252;
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
  div.main div.user ul.tags {
    display: inline-flex;
  }
  div.main div.user ul.tags li {
    margin: 0 5px;
    font-size: 0.8rem;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 2px 4px;
    color: #901C1C;
    font-weight: bold;
  }
  div.main div.user ul.tags li a {
    color: #901C1C;
  }
  body.div.banner {
    display: grid;
  }
  body div.banner header div.top-line {
    margin-top: 40px;
    display: grid;
    grid-template-areas: "logo title" "nav .";
    grid-template-columns: 1fr 1fr;
  }
  body div.main {
    display: block;
  }
  body .banner header div.top-line nav ul li {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  div.banner header {
    display: flex;
    flex-direction: column;
  }
  div.banner header .contenu {
    background: #DB8876;
    margin: 0 auto;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    visibility: hidden;
  }
  div.banner header div.top-line {
    align-items: center;
    display: grid;
    grid-template-areas: "logo nav title";
  }
  div.banner header div.top-line a#logo {
    grid-area: logo;
    width: 210px;
  }
  div.banner header div.top-line a#logo .logo img {
    width: 250px;
  }
  div.banner header div.top-line nav#nav {
    display: flex;
    grid-area: nav;
  }
  div.banner header div.top-line nav#nav ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  div.banner header div.top-line nav#nav ul li {
    list-style: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    margin: 10px 2px 1px;
    padding: 4px 7px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  div.banner header div.top-line nav#nav ul li a {
    color: #901C1C;
  }
  div.banner header div.top-line .header {
    color: #901C1C;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  div.title#title {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    grid-area: title;
  }
  div.title#title h1 {
    margin-bottom: 8px;
    font-size: 1.8rem;
    color: #901C1C;
    position: relative;
    top: 8px;
  }
  div.main div#app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 40px;
  }
  div.main div#app div.user {
    text-align: center;
  }
  div.main div#app div.user div.circle {
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  div.main div#app div.user div.circle .crop {
    height: 131px;
    width: 131px;
    background: transparent;
    border-radius: 50%;
    margin: 40px auto 20px;
    overflow: hidden;
    box-shadow: 0 0 0 3px #e8e6e8;
  }
  div.main div#app div.user div.circle div {
    margin-top: 40px;
  }
  div.main div#app div.user div.circle img {
    position: relative;
    bottom: 0px;
  }
  div.main div#app div.user img {
    width: 131px;
    height: 131px;
    object-fit: cover;
  }
  div.main div#app div.user .name {
    color: #D3573C;
    font-size: 2.4em;
    margin-bottom: 5px;
  }
  div.main div#app div.user .city {
    color: #901C1C;
    margin-bottom: 5px;
  }
  div.main div#app div.user .tagline {
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
  div.main div#app div.user .price {
    color: #525252;
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
  div.main div#app div.user ul.tags {
    display: inline-flex;
  }
  div.main div#app div.user ul.tags li {
    margin: 0 5px;
    font-size: 0.8rem;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 2px 4px;
    font-weight: bold;
  }
  div.main div#app div.user ul.tags li a {
    color: #901C1C;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  width: 99%;
}
