
@import 'abstracts/_variables.scss';
@import 'base/_reset.scss';
@import 'media/_mobile.scss';
@import 'media/_desktop.scss';




  
@import url('https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro');

body {
  font-family: "Source Sans Pro", sans-serif ;
  margin:0 auto;
  overflow-x: hidden;
  width:99%;
//   letter-spacing: 0.1em;
//   margin: 0;
//   white-space: pre-line;
}
