
@import 'abstracts/_variables.scss';
@import 'base/_reset.scss';
@import 'media/_mobile.scss';
@import 'media/_desktop.scss';




  
@import url('https://fonts.googleapis.com/css?family=Mali:700|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&display=swap');

html {
  font-size:62.5%;
}
.scroll {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: 'DM Sans', sans-serif;
  margin:0 auto;
  overflow-x: hidden;
  max-width:1240px;
//   letter-spacing: 0.1em;
//   margin: 0;
//   white-space: pre-line;
}
