<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FishEye</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <div class="banner">
      <header>
        <div class="contenu">Passer au contenu</div>
        <div class="top-line">
          <a href="/" id="logo">
            <div class="logo">
              <img src="../img/FishEyeLOGO.png" alt="Fisheye Home Page" />
            </div>
          </a>
        </div>
        <div class="photographer">
            <div class="info">
                <h1 id="name" class="name"></h1>
                <p id="city" class="city"></p>
                <p id="tagline" class="tagline"></p>
                <ul id="tags" class="tags">
                  
              </ul>
            </div>
            <div>
                <div class="contact" alt="Contact Me">
                    <p>Contactez-moi</p>
                </div>
            </div>
            <div class="user">
                <div class="circle thumb">
                    <div class="crop" id="portrait">
                    
                    </div>
                    
                </div>
            </div>
        </div>
      </header>
      </div>
    
    <div class="sort-by">
      <p>Trier par</p>
      <div class="dropdown-open">
        
        <ul>
          <li>Popularité <img class="chevron" src="../img/chevron-up-solid.svg" alt=""/></li>
          <li>Date</li>
          <li>Titre</li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div class="sticky-cta">
        <div>
          <p class="cta-likes">297 081</p>
          <img class="cta-heart" src="../img/heart-solid-black.svg" alt=""/>
        </div>
        <p id="price" class="cta-price"></p>
      </div>
      <div id="photos-section">
      <!--   <div>     
          <img class="thumb-img" src="" alt="“Lilac breasted roller, closeup view" />
          <div class="thumb-info">
            <p>Arc-en-ciel</p>
            <div class="thumb-likes">
              <div class="likes">
                <p>12</p>
              </div>
              <img class="heart" src="../img/heart-solid.svg" alt="likes"/>
            </div>
          </div>
        </div>
        <div>
          <img class="thumb-img" src="../img/Photos/Mimi/Travel_Lonesome.jpg" alt="" />
          <div class="thumb-info">
            <p>Solitude</p>
            <div class="thumb-likes">
              <div class="likes">
                <p>12</p>
              </div>
              <img class="heart" src="../img/heart-solid.svg" alt="likes"/>
            </div>
          </div>
        </div>
        <div>
          <img class="thumb-img" src="../img/Photos/Mimi/Event_SeasideWedding.jpg" alt="" />
          <div class="thumb-info">
            <p>Mariage à la mer</p>
            <div class="thumb-likes">
              <div class="likes">
                <p>12</p>
              </div>
              <img class="heart" src="../img/heart-solid.svg" alt="likes"/>
            </div>
          </div>
        </div>
        <div>
          <img class="thumb-img" src="../img/Photos/Mimi/Portrait_Background.jpg" alt="" />
          <div class="thumb-info">
            <p>Solitude</p>
            <div class="thumb-likes">
              <div class="likes">
                <p>12</p>
              </div>
              <img class="heart" src="../img/heart-solid.svg" alt="likes"/>
            </div>
          </div>
        </div>
        <div>
          <img class="thumb-img" src="../img/Photos/Mimi/Event_PintoWedding.jpg" alt="" />
          <div class="thumb-info">
            <p>Solitude</p>
            <div class="thumb-likes">
              <div class="likes">
                <p>12</p>
              </div>
              <img class="heart" src="../img/heart-solid.svg" alt="likes"/>
            </div>
          </div>
        </div>
        <div>
          <img class="thumb-img" src="../img/Photos/Mimi/Portrait_Wednesday.jpg" alt="" />
          <div class="thumb-info">
            <p>Solitude</p>
            <div class="thumb-likes">
              <div class="likes">
                <p>12</p>
              </div>
              <img class="heart" src="../img/heart-solid.svg" alt="likes"/>
            </div>
          </div>
        </div>-->
      </div> 
    </div>
    <script type="module" src="../js/photographer.js"></script>
    <script type="module" src="../js/media.js"></script>

  </body>
</html>
