@media only screen and (min-width: 768px) {
  div.banner {
    header {
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      .contenu {
        background: $background;
        margin: 0 auto;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.5rem;
        visibility: hidden;
      }
      div.top-line {
        align-items: center;
        display: grid;
        grid-template-areas: "logo nav title";
       
        a#logo {
          grid-area: logo;
          width:210px;
          .logo {
            img {
              // width: 73%;
              width: 250px;
            }
          }
        }
        nav#nav {
          // background: rgb(255, 97, 97);
          display: flex;
          grid-area: nav;
          ul {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            li {
              list-style: none;
              border: 1px solid $tagBorder;
              border-radius: 15px;
              margin: 10px 2px 1px;
              padding: 4px 7px;
              font-size: 1.6rem;
              font-weight: bold;
              a{
                color:$primary;
                
              }
              
            }
            
          }
        }
        .header {
          color: $primary;
          font-size: 2rem;
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
      div.photographer {
        background: $photographBg;
        width: 89%;
        margin: 20px auto; 
        border-radius:2px;
        padding: 40px 20px 10px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . ."; 
        div.info {
          text-align: left;
          .name {
            position: relative;
            right: 5px;
            color: $primary-text;
            font-size: 5rem;
            margin-bottom: 5px;
            font-family: 'DM Sans', sans-serif;
            
          }
          .city {
            margin-top: 10px;
            font-size: 2.5rem;
            color: $primary;
          }
          .tagline {
            margin-top: 15px;
            color:$grey;
            font-size:1.7rem;
          }
          ul.tags {
            display: inline-flex;
            margin-top:20px;
            li {
              margin: 0 5px;
              font-size: 1.6rem;
              border: 1px solid $tagBorder;
              border-radius: 9px;
              padding: 2px 4px;
              font-weight: bold;
              a{
                color: $primary;
              }
            }
          }
        }
        div {
          .contact {
            
            margin-top:0;
            background:$primary;
            color:$white;
            padding:20px 10px;
            font-weight: bold;
            border-radius:4px;
            outline: none;
            box-shadow: none;
            cursor:pointer;
            width:140px;
            letter-spacing: 2px;
            text-align: center;
            font-size:1.5rem;
            line-height:10px;
            font-family: 'DM Sans', sans-serif;
            font-style: normal;
            
          }
        }
        div.user {
          div.circle.thumb {
            display: block;
            // width: 200px;
            // height: 40px;
            text-align: center;
            align-content: center;
            align-items: center;
            border-radius: 50%;
            cursor:pointer;
            .crop {
              height: 131px;
              width: 131px;
              background: transparent;
              border-radius: 50%;
              margin: 40px auto 20px;
              overflow: hidden;
              box-shadow: 0 0 0 3px #e8e6e8;
            }
            div {
              margin-top: 40px;
            }
            img {
              position: relative;
              bottom: 0px;
              width: 131px;
              height: 131px;
            }
          }

          
      
        }
        
      }
    }
  }

  div.sort-by {
    
    height: 23px;
    margin-left:55px;   
    
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    display: flex;
    p{
      margin-right:20px;
    }
    div.dropdown-open {
      // height: 170px;
      width: 170px;
      background:$primary;
      border-radius: 5px;
      color:$white;
      cursor:pointer;
      position:relative;
      bottom:10px;
      
      ul{
        border-radius: 5px;
        background:$primary;
        padding:10px;
        li{
          padding:10px;
          border-bottom:1px solid $white;
          font-family: 'DM Sans', sans-serif;
          img.chevron {
            width:1.6rem;
            color:$white;
            margin-left:20px;
          }
        }
        li:last-child {
          border:0;
        }
      }

    }
  }
  
  div.title#title {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    grid-area: title;
    h1 {
      margin-bottom: 8px;
      font-size: 2.8rem;
      color: $primary;
      position: relative;
      top: 8px;
    }
  }
  div.main {
    div#app {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 40px;
      div.user {
        text-align: center;
        div.circle {
          display: block;
          // width: 200px;
          // height: 40px;
          text-align: center;
          align-content: center;
          align-items: center;
          border-radius: 50%;
          cursor:pointer;
          .crop {
            height: 131px;
            width: 131px;
            background: transparent;
            border-radius: 50%;
            margin: 40px auto 20px;
            overflow: hidden;
            box-shadow: 0 0 0 3px #e8e6e8;
          }
          div {
            margin-top: 40px;
          }
          img {
            position: relative;
            bottom: 0px;
          }
        }
        img {
          width: 131px;
          height: 131px;
          object-fit: cover;
        }
        .name {
          color: $primary-text;
          font-size: 4.5em;
          margin-bottom: 5px;
          font-family: 'DM Sans', sans-serif;
        }
        .city {
          color: $primary;
          margin-bottom: 5px;
          font-size:2rem;
        }
        .tagline {
          font-size: 1.7rem;
          margin-bottom: 5px;
        }
        .price {
          color: $grey;
          font-size: 1.4rem;
          margin-bottom: 5px;
        }
        ul.tags {
          display: inline-flex;
          
          li {
            margin: 0 5px;
            font-size: 1.6rem;
            border: 1px solid $tagBorder;
            border-radius: 9px;
            padding: 2px 4px;
            font-weight: bold;
            a{
              color: $primary;
            }
          }
        }
      }

    }
    
  }
}
