

@media only screen and (min-width: 768px) {
  section#slot {
    // height: 100vh;
    // overflow: hidden;
  }
  div.banner {
    header {
      display: flex;
      flex-direction: column;
      // align-items: flex-end;
      .contenu {
        background: $background;
        margin: 0 auto;
        margin-top: 5px;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 1.5rem;
        visibility: hidden;
      }
      div.top-line {
        align-items: center;
        display: grid;
        grid-template-areas: "logo nav title";
       
        a#logo {
          grid-area: logo;
          width:200px;
          .logo {
            img {
              width: 200px;
              
            }
          }
        }
        nav#nav {
          // background: rgb(255, 97, 97);
          display: flex;
          grid-area: nav;
          ul {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            li {
              list-style: none;
              border: 1px solid $tagBorder;
              border-radius: 15px;
              margin: 10px 2px 1px;
              padding: 4px 7px;
              font-size: 1.6rem;
              font-weight: bold;
              a{
                color:$primary;
                
              }
              
            }
            
          }
        }
        .header {
          color: $primary;
          font-size: 2rem;
          text-align: center;
          display: flex;
          justify-content: center;
        }
      }
      div.photographer {
        background: $photographBg;
        width: 100%;
        margin: 20px auto; 
        border-radius:5px;
        padding: 20px 20px 10px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . ."; 
        div.info {
          text-align: left;
          .name {
            position: relative;
            right: 5px;
            color: $primary-text;
            font-size: 5rem;
            margin-bottom: 5px;
            font-family: 'DM Sans', sans-serif;
            
          }
          .city {
            margin-top: 10px;
            font-size: 2.5rem;
            color: $primary;
          }
          .tagline {
            margin-top: 15px;
            color:$grey;
            font-size:1.7rem;
          }
          ul.tags {
            display: inline-flex;
            margin-top:20px;
            li {
              margin: 0 5px;
              font-size: 1.6rem;
              border: 1px solid $tagBorder;
              border-radius: 9px;
              padding: 2px 4px;
              font-weight: bold;
              a{
                color: $primary;
              }
            }
          }
        }
        div {
          .contact {
            
            margin-top:0;
            background:$primary;
            color:$white;
            padding:20px 10px;
            font-weight: bold;
            border-radius:4px;
            outline: none;
            box-shadow: none;
            cursor:pointer;
            width:140px;
            letter-spacing: 2px;
            text-align: center;
            font-size:1.5rem;
            line-height:10px;
            font-family: 'DM Sans', sans-serif;
            font-style: normal;
            
          }
        }
        div.user {
          div.circle.thumb {
            display: block;
            // width: 200px;
            // height: 40px;
            text-align: center;
            align-content: center;
            align-items: center;
            border-radius: 50%;
            cursor:pointer;
            .crop {
              height: 131px;
              width: 131px;
              background: transparent;
              border-radius: 50%;
              margin: 40px auto 20px;
              overflow: hidden;
              box-shadow: 0 0 0 3px #e8e6e8;
            }
            div {
              margin-top: 40px;
            }
            img {
              position: relative;
              bottom: 0px;
              width: 131px;
              height: 131px;
            }
          }

          
      
        }
        
      }
    }
  }

  div.sort-by {
    
    height: 23px;    
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    display: flex;
    margin-bottom: 50px;
    p{
      margin-right:20px;
    }
    div.dropdown-open {
      // height: 170px;
      width: 170px;
      background:$primary;
      border-radius: 5px;
      color:$white;
      cursor:pointer;
      position:relative;
      bottom:10px;
      
      ul{
        border-radius: 5px;
        background:$primary;
        padding:10px;
        li{
          padding:10px;
          border-bottom:1px solid $white;
          font-family: 'DM Sans', sans-serif;
          img.chevron {
            width:1.6rem;
            color:$white;
            margin-left:20px;
          }
        }
        li:last-child {
          border:0;
        }
      }

    }
  }
  
  div.title#title {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    grid-area: title;
    h1 {
      margin-bottom: 8px;
      font-size: 2.8rem;
      color: $primary;
      position: relative;
      top: 8px;
    }
  }
  div.main {
    div#app {
      background: $white;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 40px;
      div.user {
        text-align: center;
        div.circle {
          display: block;
          // width: 200px;
          // height: 40px;
          text-align: center;
          align-content: center;
          align-items: center;
          border-radius: 50%;
          cursor:pointer;
          .crop {
            height: 131px;
            width: 131px;
            background: transparent;
            border-radius: 50%;
            margin: 40px auto 20px;
            overflow: hidden;
            box-shadow: 0 0 0 3px #e8e6e8;
          }
          div {
            margin-top: 40px;
          }
          img {
            position: relative;
            bottom: 0px;
          }
        }
        img {
          width: 131px;
          height: 131px;
          object-fit: cover;
        }
        .name {
          color: $primary-text;
          font-size: 4.5em;
          margin-bottom: 5px;
          font-family: 'DM Sans', sans-serif;
        }
        .city {
          color: $primary;
          margin-bottom: 5px;
          font-size:2rem;
        }
        .tagline {
          font-size: 1.7rem;
          margin-bottom: 5px;
        }
        .price {
          color: $grey;
          font-size: 1.4rem;
          margin-bottom: 5px;
        }
        ul.tags {
          display: inline-flex;
          
          li {
            margin: 0 5px;
            font-size: 1.6rem;
            border: 1px solid $tagBorder;
            border-radius: 9px;
            padding: 2px 4px;
            font-weight: bold;
            a{
              color: $primary;
            }
          }
        }
      }

    }
    div.sticky-cta {
      position: fixed;
      width:376px;
      height: 69px;
      bottom:0;
      right:3.6rem;
      border-top-left-radius:5px;
      border-top-right-radius: 5px;
      background:$pink;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:0px 20px;
      cursor:pointer;
      div{
        display: flex;
      }
      p.cta-likes{
        width:87px;
        height: 31px;
        font-size: 2.4rem;
        justify-content: center;
        align-items: center;
        display: flex;
      }
      img.cta-heart {
        width:20px;
        position: relative;
        bottom: 2px;
        margin-left: 5px;
      }
      p.cta-price {
         width:133px;
         font-size: 2.4rem;

      }
    }
    div#photos-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 75px;
      // width: 93%;
      
      column-gap: 114px;
      row-gap: 50px;
      div{
        
        justify-content: center;
        
        img.thumb-img{
          width: 350px;
          height: 300px;
          border-radius:5px;
          object-fit: cover;
          cursor:pointer;
        }
        div.thumb-info {
          display: flex;
          width: 350px;
          font-size:2.4rem;
          margin-top: 5px;
          justify-content: space-between;
          text-align: left;
          align-items: center;
          p{
            color: $primary;
          }
          div {
            display: -webkit-box;
            div.likes{
              p{
                display: flex;
                width: 22px;
                height: 31px;
                // border:3px solid #95FFF9;
                border-radius:50%;
                align-items: center;
                font-size:2.4rem;
                font-family: 'Roboto', sans-serif;
                line-height: 18.75px;
                background:$white;
                margin-right: 10px;
              }
            }
            img.heart{
              width: 20px;
              position: relative;
              top:6px;
              z-index:-1;
              
            }
          }
          
        }
      }
    }
    
  }

   /* The Modal LightBox(background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white;
    background-color: white;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    // margin: 62px auto; /* 15% from the top and centered */
    // border: 1px solid #888;
    // width: 80%; /* Could be more or less, depending on screen size */
    // display:flex;
    div.lightBox {
      width:125.3rem;
      height: 98.4rem;
      display: flex;
      justify-content: space-between;
      margin:0 auto;
      flex-direction:column;
      div.top{

      }
      div.mid{
        display: flex;
        justify-content: space-between;
        img.chevron-left {
          width: 48px;
          cursor:pointer;
        }
        img.big-img {
          width: 1050px;
          height: 900px;
          border-radius: 5px;
        }
        img.chevron-right {
          width:48px;
          cursor:pointer;
        }
      }
      div.bottom{
        p.lightBox{
          font-size:2.4rem;
          color:$primary;
          margin-top: 14px;
          margin-left: 100px;
        }
      }
      
    }
    
  }

  /* The Close Button */
  .close {
    color:$primary;
    display: flex;
    justify-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    width: 4.2rem;
    height: 4.2rem;
    float: right;
    position: relative;
    top: 37px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 


  // Modal Contact Photograph
  /* The Modal (background) */
  .modal-contact {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content-contact {
    background-color: #fefefe;
    margin: 62px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height: 900px;
    width: 669px; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 767px) and (max-width:1200px) {
  div.main div#photos-section, div.main div#app {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
