@media only screen and (max-width: 767px) {
    div.banner header {
        width:100%;
        display:block;
        
    
    }
    body div.banner header div.top-line {
        display: block;
    }
    body div.main {
        display: block;
    }
}